
<h1>callfuture.me FAQ</h1>

<dl>
  <dt>How does this work?</dt>
  <dd>
    <ul>
      <li>You give us your phone number</li>
      <li>We will call you at this number</li>
      <li>You record a message and a date</li>
      <li>When this date arrives, we call you and play back your message</li>
      <li>We delete your phone number <b>immediately</b> from our database. (We take your privacy very seriously.)</li>
    </ul>
  </dd>

  <dt>What can I use this for?</dt>
  <dd>
    <p>Anything! Maybe you want to set a reminder for yourself tomorrow or a
      month from now, or maybe you want to send yourself a creepy message 10
      years into the future. It's up to you!</p>
  </dd>
</dl>
