
<h1>callfuture.me</h1>

<form action="/" method="post">
  <% if flash[:success] %>
    <div class="alert alert-success"><%= flash[:success] %></div>
  <% end %>
  <% if flash[:error] %>
    <div class="alert alert-error"><%= flash[:error] %></div>
  <% end %>
  <p>
    My phone number:
    <input type="tel" name="number" value="+ 1 615-973-8052">
  </p>
  <p>
    Call me at this date and time:
    <input type="text" name="time" value="4/22/2012 at 3:15pm" size="30">
  </p>
  <p>
    <button type="submit" class="btn">Record message</button>
  </p>
</form>
