
<h1>callfuture.me</h1>

<form action="/" method="post">
  <input id="tz_offset" name="tz_offset" type="hidden">

  <% if flash[:success] %>
    <div class="alert alert-success"><%= flash[:success] %></div>
  <% end %>
  <% if flash[:error] %>
    <div class="alert alert-error"><%= flash[:error] %></div>
  <% end %>
  <p>
    What's your phone number?
    <input type="tel" name="number" value="<%= @number %>">
  </p>
  <p>
    When do you want to schedule the message?
    <input type="text" name="time" value="<%= @time %>" size="30">
  </p>
  <p>
    <button type="submit" class="btn">Record message</button>
  </p>
</form>
