<!DOCTYPE html>

<html>
  <head>
    <title>callfuture.me</title>
    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>
  <body>
    <%= yield %>
    <script src="/javascripts/application.js"></script>
  </body>
</html>
